# Date: 2024-01-24 15:05
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 获取 指定主机/环境 端口信息
# Version: v1.0

- name: Init env
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    log_dir: /tmp/get_system_port_info_{{ env_name if env_name is defined else host_name | lower }}
  tasks:
    # 检查变量是否存在,需要指定主机,或者环境名
    - name: 检查变量是否定义
      fail:
        msg: "ansible-playbook get_host_addr.yml -e env_name='xxxxxxxx-prod' [ -e host_name='XXXXX-APP-001' ]"
      when:
        - env_name is not defined
        - host_name is not defined

    # 初始化日志文件
    - name: 初始化日志文件
      shell: |
        if [ -d {{ log_dir }} ];then
          if [ $(ls {{log_dir}} | wc -l) -gt 0 ];then
            mv {{ log_dir }} {{ log_dir }}_$(date +"%Y_%m_%d_%H_%M_%S")
            mkdir -p {{log_dir}}
          fi
        else
          mkdir -p {{log_dir}}
        fi

    # 创建任务主机组
    # 单个主机
    - add_host:
        name: "{{ host_name }}"
        group: play_hosts
      when: host_name is defined

    # 单个环境
    # 获取该环境主机列表
    - name: Get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep "{{ env_name.split('-')[0].upper() }}-" | grep -E -v -i "^#|\*|-TEST-|-DEV-" | awk '{print $NF}' | sort
      register: grep_hosts
      when:
        - host_name is not defined
        - env_name is defined

    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: play_hosts
      with_items: "{{grep_hosts.stdout_lines}}"
      when:
        - host_name is not defined
        - env_name is defined

    # # 输出所有主机组
    # - debug:
    #     var: groups

- name: 获取主机信息
  hosts: play_hosts
  remote_user: swift
  gather_facts: False
  vars:
    # 输出目录
    log_dir: /tmp/get_system_port_info_{{ env_name if env_name is defined else host_name | lower }}
    # 所有原始端口信息文件
    all_port_file_raw: "{{log_dir}}/all_port_raw.csv"
    # 所有处理后的端口信息文件
    all_port_file_handle: "{{log_dir}}/all_port_handle.csv"
    # 拒绝端口信息文件
    deny_port_file: "{{log_dir}}/deny_port.csv"
    # 允许端口信息文件
    accept_port_file: "{{log_dir}}/accept_port.csv"
    # docker_port_file: "{{log_dir}}/docker_port.csv"
    internal_access_service_name_list:
      - "etcd"
      - "node_exporter"
      - "flanneld"
      - "glusterd"
      - "glusterfsd"
      - "rpcbind"
      - "systemd-resolve"
    global_ports:
      - 22
      - 2020
      - 80
      - 443
      - 8080
    internal_ports:
      - 53
      - 5355
      - 2375
      - 3100
      - 12580
      - 12581
      - 12582
      - 12583
      - 12584
      - 12585
      - 12586
      - 12587
      - 9090
      - 2379
      - 2380
      - 5460
      - 5432
      - 15432
      - 6379
      - 6380
      - 27017
      - 3306
      - 3307
      - 9876
      - 10911
      - 10912
      - 10909
      - 8180
      - 10116
      - 10100
      - 8848
      - 9555
      - 9200
      - 9300
      - 9432
      - 9000
  tasks:
    # - name: 输出所有变量
    #   debug:
    #     var: hostvars[inventory_hostname]
    - name: Gather facts on listening ports
      become: yes
      listen_ports_facts:

    - name: 输出主机所有端口 原始
      connection: local
      shell: echo "{{inventory_hostname}},{{ item.name }},{{item.address}},{{item.port}},{{item.protocol}}" >> {{all_port_file_raw}}
      loop: "{{ ansible_facts.tcp_listen + ansible_facts.udp_listen }}"
    
    # 针对docker-proxy端口，获取容器名称
    - name: get docker-proxy port container name
      register: docker_port_name
      shell: |
        docker ps -a --format "table {{ '{{' }}.Names{{'}}'}}\t{{'{{'}}.Ports{{'}}'}}" | grep ":{{item.port}}-" |awk '{print $1}'
      when: item.name == "docker-proxy"
      loop: "{{ ansible_facts.tcp_listen + ansible_facts.udp_listen }}"
    # - name:
    #   debug:
    #     var: docker_port_name
    # 针对java端口，获取容器名称
    - name: get java port container name
      register: java_port_name
      shell: |
        #!/bin/bash
        # 指定pid,进行查询

        pid={{item.pid}}
        if [ -z $pid ];then
          exit
        fi
        container_pid=$(pstree -a -l -s -p $pid|grep containerd-shim|cut -d',' -f2|cut -d ' ' -f 1)

        container_main_pid=$(ps -ef |grep $container_pid| grep -v grep|awk '{print $2}'|grep -v $container_pid)

        docker inspect --format='Name:{{'{{'}}.Name{{'}}'}} PID:{{'{{'}}json .State.Pid{{'}}'}}' `docker ps  -q` | grep ${container_main_pid}|awk -F '/' '{print $2}'|cut -d ' ' -f1
      when: item.name == "java"
      loop: "{{ ansible_facts.tcp_listen + ansible_facts.udp_listen }}"
      
    - name: 输出 docker-proxy 端口对应容器
      connection: local
      shell: echo "{{inventory_hostname}},{{ item.item.name }},{{item.item.address}},{{item.item.port}},{{item.item.protocol}},{{item.stdout}}" | tee -a {{all_port_file_handle}} > /dev/null
      when:
        - item.skipped is undefined
      loop: "{{ docker_port_name.results }}"

    - name: 输出 java 端口对应容器
      connection: local
      shell: echo "{{inventory_hostname}},{{ item.item.name }},{{item.item.address}},{{item.item.port}},{{item.item.protocol}},{{item.stdout}}" | tee -a {{all_port_file_handle}} > /dev/null
      when:
        - item.skipped is undefined
      loop: "{{ java_port_name.results }}"

    - name: 输出 其它端口
      connection: local
      shell: echo "{{inventory_hostname}},{{ item.name }},{{item.address}},{{item.port}},{{item.protocol}},{{ item.name }}" >> {{all_port_file_handle}}
      when:
        - item.name != "docker-proxy"
        - item.name != "java"
        - item.address != "127.0.0.1"
      loop: "{{ ansible_facts.tcp_listen + ansible_facts.udp_listen }}"

    # 拒绝的端口信息

    # 允许的端口信息

    # 拒绝的端口信息中异常端口
    

    # - name: 输出主机允许端口 用于人工检验
    #   connection: local
    #   shell: echo "{{inventory_hostname}},{{ item.name }},{{item.address}},{{item.port}},{{item.protocol}}" >> {{accept_port_file}}
    #   when:
    #     - item.port in accept_port_list
    #   loop: "{{ ansible_facts.tcp_listen + ansible_facts.udp_listen }}"
    #   vars:
    #     accept_port_list: "{{ ansible_facts.tcp_listen | selectattr('address', '!=', '127.0.0.1') | rejectattr('name', 'in', internal_access_service_name_list) | rejectattr('port', 'in', (internal_ports + global_ports)) | map(attribute='port') | unique | sort | list }}"

    # - name: 指定格式输出 主机端口
    #   connection: local
    #   shell: echo "{{ item }}" >> {{hosts_port_file}}
    #   vars:
    #     accept_port_list: "{{ ansible_facts.tcp_listen | selectattr('address', '!=', '127.0.0.1') | rejectattr('name', 'in', internal_access_service_name_list) | rejectattr('port', 'in', (internal_ports + global_ports)) | map(attribute='port') | unique | sort | list | batch(chunk_size) | map('join', '/') | list }}"
    #     chunk_size: 15 # 指定每个子列表的长度
    #   loop: "{{ accept_port_list }}"
