# Date: 2024-01-24 15:05
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 北京同仁 按时更新自定义容器监控
# Version: v1.0

- name: Init env
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - name: 初始化配置文件
      shell: |
        if [ -f /tmp/custom-container-http.yml ];then
          # mv /tmp/custom-container-http.yml /tmp/custom-container-http.yml_$(date +"%Y_%m_%d_%H_%M_%S")
          cat /dev/null > /tmp/custom-container-http.yml
        fi
    - name: Get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep "XXXXYY-APP-" | grep -E -v -i "^#|\*|-TEST-|-DEV-" | awk '{print $NF}' | sort
      register: grep_hosts

    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: play_hosts
      with_items: "{{grep_hosts.stdout_lines}}"

    # # 输出所有主机组
    # - debug:
    #     var: groups

- name: 获取主机信息
  hosts: play_hosts
  remote_user: swift
  gather_facts: False
  tasks:
    - name: 执行脚本
      register: monitor_config
      args:
        executable: /bin/bash
      shell: |
        #!/bin/bash

        # 定义字典，处理特殊情况
        declare -A dic
        dic=([wx]="weserver" [sync-2cloud]="sync2cloud" [sync_o2p]="sync" [sync_p2o]="sync" [book-baidu]="bookbaidu" [insure-pay]="insure" [pay-adapter]="pay" [auth_1.0]="auth" [regulatory-platform]="regulatory" [supervision-platform]='ehealth')

        # 获取值
        # DockerCheck=${dic["${JobName%_*}"]}

        # 输出文件

        get_service_monitor_config() {
            docker inspect --format '{{ '{{' }}.Name{{ '}}' }} {{ '{{' }}range .NetworkSettings.Networks{{ '}}' }}{{ '{{' }}.IPAddress{{ '}}' }}{{ '{{' }}end{{ '}}' }}' $(docker ps -q) | sed 's/\///g' | grep prod | grep -v -E "front|web|auth_1.0_prod" | while read line; do
                name=$(echo $line | awk '{print $1}')
                ip=$(echo $line | awk '{print $2}')
                if [[ $name =~ "gateway" ]]; then
                    url="http://$ip:8080/v1/healthcheck"
                elif [[ ${dic["${name%_*}"]} ]]; then
                    url="http://$ip:8080/${dic["${name%_*}"]}/v1/healthcheck"
                else
                    url="http://$ip:8080/$(echo $name | awk -F '_' '{print $1}')/v1/healthcheck"
                fi
                
                echo "- targets:"
                echo "  - $url"
                echo "  labels:"
                echo "    name: $name"
                echo "    hostname: $(hostname)"
            done
        }
        get_service_monitor_config


- name: Init env
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - name: 输出配置到文件
      connection: local
      shell: echo "{{ hostvars[item]['monitor_config'].stdout }}" >> /tmp/custom-container-http.yml
      when: 
        - hostvars[item]['monitor_config'].stdout_lines |length != 0
      loop: "{{ groups['play_hosts'] }}"
    - name: scp nginx conf
      shell: scp /tmp/custom-container-http.yml XXXXYY-APP-001:/opt/prometheus/conf/custom-container-http.yml
