apiVersion: v1
kind: Service
metadata:
  name: loki-gateway
  namespace: logging
spec:
  ports:
  - name: server
    nodePort: 23100
    port: 3100
    protocol: TCP
    targetPort: server
  selector:
    app: loki-gateway
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: loki-gateway
  name: loki-gateway
  namespace: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki-gateway
  template:
    metadata:
      labels:
        app: loki-gateway
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - worker
            weight: 1
      containers:
      - env:
        - name: NODE_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.hostIP
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        image: swr.cn-east-2.myhuaweicloud.com/common-server/nginx:1.23.3
        name: loki-gateway
        ports:
        - containerPort: 3100
          name: server
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: "1"
            memory: 1Gi
        volumeMounts:
        - mountPath: /etc/localtime
          name: localtime
        - mountPath: /etc/nginx/nginx.conf
          name: config
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
      volumes:
      - hostPath:
          path: /usr/share/zoneinfo/Asia/Shanghai
        name: localtime
      - hostPath:
          path: /opt/logs/loki/nginx-loki-gateway.conf
        name: config
