apiVersion: v1
kind: Service
metadata:
  name: loki-write
  namespace: logging
spec:
  ports:
  - name: server
    port: 3100
    protocol: TCP
    targetPort: server
  - name: bind-port
    port: 7946
    protocol: TCP
    targetPort: bind-port
  selector:
    app: loki-write
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: loki-write
  name: loki-write
  namespace: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki-write
  template:
    metadata:
      labels:
        app: loki-write
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - worker
            weight: 1
      containers:
      - env:
        - name: NODE_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.hostIP
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        image: swr.cn-east-2.myhuaweicloud.com/common-server/loki:2.6.1
        name: loki-write
        args:
        - -config.file=/etc/loki/loki-config.yaml
        - -target=write
        ports:
        - containerPort: 3100
          name: server
        - containerPort: 7946
          name: bind-port
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            cpu: "2"
            memory: 4Gi
        volumeMounts:
        - mountPath: /etc/localtime
          name: localtime
        - mountPath: /data
          name: data
        - mountPath: /etc/loki/loki-config.yaml
          name: config
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
      volumes:
      - hostPath:
          path: /usr/share/zoneinfo/Asia/Shanghai
        name: localtime
      - hostPath:
          path: /opt/logs/loki/data
        name: data
      - hostPath:
          path: /opt/logs/loki/loki-config.yaml
        name: config
