# Date: 2023-03-29 11:50
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 批量修改swift用户密码
# Version: v1.0
- name: init env
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    log_file: /tmp/update_swift_password_list.csv
  tasks:
    # 初始化日志文件
    - name: 初始化日志文件
      shell: if [ -f {{ log_file }} ];then mv {{ log_file }} {{ log_file }}_$(date +"%Y_%m_%d_%H_%M_%S");fi
    # 获取主机
    - name: get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep -E -v -i "^#|\*" | awk '{print $NF}' | sort
      register: grep_hosts
    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: update_user_password_hosts
      with_items: "{{grep_hosts.stdout_lines}}"
    # # 输出所有主机组
    # - debug:
    #     var: groups

- name: update swift password
  hosts: update_user_password_hosts
  remote_user: swift
  gather_facts: False
  vars:
    log_file: /tmp/update_swift_password_list.csv
    user: swift
    password: userpassword
  tasks:
    # 只修改ubuntu系统，使用 echo 'swift:userpassword' | sudo chpasswd
    - name: 判断操作系统
      shell: lsb_release -i | awk '{print $NF}'
      register: system_id
    - name: 判断是否有swift用户
      shell: id {{ user }}
      ignore_errors: true
      register: user_status
    - name: 修改swift用户密码
      shell: echo '{{ user }}:{{ password }}' | sudo chpasswd
      ignore_errors: true
      register: update_status
      when:
        - system_id['stdout'] == 'Ubuntu'
        - user_status.rc|int == 0
    # - debug:
    #     var: update_status
    - name: 输出更新成功
      local_action: shell echo "{{ inventory_hostname }},已更新{{ user }}密码,{{ password }}" >> "{{ log_file }}"
      when: update_status.changed == true and update_status.rc == 0
    - name: 输出更新失败/未更新
      local_action: shell echo "{{ inventory_hostname }},未更新{{ user }}密码,{{ password }}" >> "{{ log_file }}"
      when: update_status.changed == false or update_status.rc != 0