# Date: 2023-03-29 11:50
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 批量修改项目服务器swift用户密码
# Version: v1.0
- name: update swift password
  hosts: update_user_password_hosts
  remote_user: swift
  gather_facts: False
  vars:
    log_file: /tmp/update_swift_password_list.csv
    user: swift
    password: userpassword
  tasks:
    # 只修改ubuntu系统，使用 echo 'swift:userpassword' | sudo chpasswd
    - name: 判断操作系统
      shell: lsb_release -i | awk '{print $NF}'
      register: system_id
    - name: 判断是否有swift用户
      shell: id {{ user }}
      ignore_errors: true
      register: user_status
    - block:
      # 存在安全限制，无法直接修改用户密码，需要先调整，在修改用户密码，再恢复文件权限
      - name: 去除/etc/passwd /etc/shadow不可写权限
        shell: sudo chattr -i /etc/passwd /etc/shadow
      - name: 修改swift用户密码
        shell: echo '{{ user }}:{{ password }}' | sudo chpasswd
        ignore_errors: true
        register: update_status
      - name: 恢复/etc/passwd /etc/shadow不可写权限
        shell: sudo chattr +i /etc/passwd /etc/shadow
      when:
        - system_id['stdout'] == 'Ubuntu'
        - user_status.rc|int == 0
    # - debug:
    #     var: update_status
    - name: 输出更新成功
      local_action: shell echo "{{ inventory_hostname }},已更新{{ user }}密码,{{ password }}" >> "{{ log_file }}"
      when: update_status.changed == true and update_status.rc == 0
    - name: 输出更新失败/未更新
      local_action: shell echo "{{ inventory_hostname }},未更新{{ user }}密码,{{ password }}" >> "{{ log_file }}"
      when: update_status.changed == false or update_status.rc != 0