# Date: 2024-10-28 16:32
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 安装promtail,往loki上面传日志，docker版本，采用2.8.3版本的protail，解决了采用docker_sd_config收集docker日志报错 err="Unrecognized input header: 50" 的问题
# Version: v1.0
- name: install promtail
  hosts: promtail_docker_hosts
  remote_user: swift
  gather_facts: False
  vars:
    docker_image: swr.cn-east-2.myhuaweicloud.com/common-server/promtail:2.8.3
    download_image_name: promtail.tgz
  tasks:
    - name: Check whether local-loki exists in the /etc/hosts file
      shell: grep local-loki /etc/hosts -c|cat
      register: loki_hosts_register

    - name: Check to see if promtail is installed
      shell: docker ps |grep "logging-promtail" -c|cat
      register: promtail_docker_register

    - name: 检查network是否存在
      shell: docker network ls|grep logging -c|cat
      register: loki_network_register

    - name: 检查目录是否存在
      stat:
        path: /opt/promtail
      register: promtail_path

    - name: 检查本地目录是否存在
      connection: local
      stat:
        path: "/tmp/{{ inventory_hostname|lower|regex_replace('-(.*)') }}_loki_host"
      register: loki_host_file_status

    - block:
        - name: 检查promtail image是否存在
          shell: docker images |awk '{print $1":"$2}'|grep -c {{docker_image}} | cat
          register: promtail_image_status
        - block:
            - name: 本地下载镜像
              local_action: shell docker pull {{docker_image}}
            - name: 本地打包镜像
              local_action: shell docker save {{docker_image}} | gzip > /tmp/{{download_image_name}}
            - name: copy promtail image to remote_host
              local_action: shell scp /tmp/{{download_image_name}} {{ inventory_hostname }}:/tmp
            - name: import docker image
              shell: docker load < /tmp/{{download_image_name}}
          when: promtail_image_status['stdout']|int == 0
        - name: 获取loki IP
          connection: local
          shell: cat "/tmp/{{ inventory_hostname|lower|regex_replace('-(.*)') }}_loki_host"
          register: loki_ip
        - name: 在/etc/hosts中添加local-loki的解析
          become: yes
          become_method: sudo
          shell: echo "\n# loki\n{{ loki_ip['stdout'] }}    local-loki" | tee -a /etc/hosts
          when: loki_hosts_register['stdout']|int == 0
        - name: 更新/etc/hosts中的local-loki解析
          become: yes
          become_method: sudo
          shell: sed -i 's#\(.*\)\(local-loki\)#{{ loki_ip['stdout'] }}    \2#g' /etc/hosts
          when: loki_hosts_register['stdout']|int == 1
        - block:
            - name: 初始化目录
              file:
                path: /opt/promtail
                state: directory
                mode: 0775
              # when: promtail_path.stat.isdir is not defined
            - name: 初始化文件
              file:
                path: /opt/promtail/promtail-config.yaml
                state: touch
                mode: 0664
            - name: 初始化文件/opt/promtail/promtail-config.yaml
              blockinfile:
                path: /opt/promtail/promtail-config.yaml
                block: |
                  server:
                    http_listen_port: 9080
                    grpc_listen_port: 0

                  positions:
                    filename: /mnt/config/positions.yaml

                  clients:
                    - url: http://local-loki:3100/loki/api/v1/push
                      external_labels:
                        hostname: ${HOSTNAME}

                  limits_config:
                  #  限制每秒日志收集行数
                  #  readline_rate_enabled: true
                  #  readline_rate: 4000
                  #  readline_burst: 5000
                    readline_rate_enabled: false
                    readline_rate: 10000
                    readline_burst: 10000
                    readline_rate_drop: false

                  target_config:
                    sync_period: "10s"

                  scrape_configs:
                    ## 本地服务日志文件
                    # - job_name: service_logs
                    #   static_configs:
                    #   - targets:
                    #       - localhost
                    #     labels:
                    #       job: service_logs
                    #       agent: promtail
                    #       __path__: /opt/*/logs/*.log
                    #   pipeline_stages:
                    #     - match:
                    #         selector: '{job="service_logs"}'
                    #         stages:
                    #         - regex:
                    #             source: filename
                    #             expression: '/opt/(?P<service>\\S+?)/'
                    #         - labels:
                    #             service:
                    ## 通过docker_sd_config获取docker日志
                    - job_name: docker_container_logs
                      docker_sd_configs:
                        - host: unix:///var/run/docker.sock
                          refresh_interval: 5s
                        # 过滤容器
                        # filters:
                        #   - name: name
                        #     values: [flog]
                      relabel_configs:
                        - source_labels: ['__meta_docker_container_name']
                          regex: '/(.*)'
                          target_label: 'service'
                        - source_labels: ['__meta_docker_container_id']
                          regex: '([0-9a-z]{8}).*'
                          target_label: '__container_id__'
                        ## 不需要pod标签
                        # - action: replace
                        #   replacement: $1
                        #   separator: _
                        #   source_labels:
                        #   - service
                        #   - __container_id__
                        #   target_label: pod
                        - target_label: job
                          replacement: service_logs
                        - target_label: agent
                          replacement: promtail
                    - job_name: nginx_access_log
                      pipeline_stages:
                        - json:
                            expressions:
                              http_host: http_host
                        - labels:
                            http_host:
                        - match:
                            selector: '{job="nginx_access_log"}'
                            stages:
                            - regex:
                                source: filename
                                expression: '(?P<path>.*)/(?P<file_name>\\S+?)$'
                            - labels:
                                file_name:
                      static_configs:
                      - targets:
                          - localhost
                        labels:
                          job: nginx_access_log
                          host: ${HOSTNAME}
                          agent: promtail
                          __path__: /var/log/nginx/*access.log
            - name: 初始化文件/opt/promtail/positions.yaml
              shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && a=$(date +%s);docker ps -q --no-trunc|xargs -I {} echo '  cursor-{}:' \"$a\"'' >> /opt/promtail/positions.yaml
          when: promtail_path.stat.isdir is not defined
        - name: 将logging-loki-gateway加入到bridge
          shell: docker network connect bridge logging-loki-gateway
          when: loki_network_register['stdout']|int == 1
        - name: 启动promtail容器
          shell: |
            docker run --name logging-promtail \
            -h $(hostname) \
            -itd \
            --cpus 1 -m 2G \
            --restart=unless-stopped \
            --log-opt max-size=512m \
            --log-opt max-file=3 \
            -v /etc/hosts:/etc/hosts \
            -v /etc/localtime:/etc/localtime \
            -v /opt:/opt \
            -v /var/log/nginx:/var/log/nginx \
            -v /opt/promtail:/mnt/config \
            -v /var/run/docker.sock:/var/run/docker.sock \
            {{docker_image}} -config.file=/mnt/config/promtail-config.yaml -config.expand-env=true
        - name: 删除镜像文件
          file:
            path: /tmp/{{download_image_name}}
            state: absent
      when:
        - promtail_docker_register['stdout']|int == 0
        - loki_host_file_status.stat.isreg is defined
