# Date: 2023-01-31 18:16
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: nginx添加输出json格式日志，并修改现有access中配置的日志，promtail更新，收集nginx日志
# Version: v1.0
- name: clean env
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    log_file: /tmp/nginx_and_promtail_update.csv
  tasks:
    # 初始化日志文件
    - name: 初始化日志文件
      shell: if [ -f {{ log_file }} ];then mv {{ log_file }} {{ log_file }}_$(date +"%Y_%m_%d_%H_%M_%S");fi

- name: update nginx
  hosts: nginx_and_promtail_update_hosts
  remote_user: swift
  gather_facts: False
  vars:
    log_file: /tmp/nginx_and_promtail_update.csv
  tasks:
    # 判断是否有nginx，有nginx，修改nginx配置生效，无nginx，直接跳过
      # 1.存在nginx进程运行
      # 2.存在nginx.conf文件
    - name: 检查nginx进程是否存在
      shell: pgrep -c nginx | cat
      register: nginx_process_status
    - name: 检查nginx.conf配置文件是否存在
      stat:
        path: /etc/nginx/nginx.conf
      register: nginx_conf_status
    - name: 检查nginx配置是否存在问题
      become: yes
      become_method: sudo
      shell: nginx -t
      register: nginx_conf_check_status
      ignore_errors: true
    # nginx进程存在，主配置文件存在，nginx配置检查通过，进行修改
    - block:
      - name: 检查是否存在json格式日志输出
        shell: grep -c jsonlog /etc/nginx/nginx.conf | cat
        register: nginx_conf_jsonlog_status
      - name: 无json格式日志输出, 添加
        become: yes
        become_method: sudo
        blockinfile:
          path: /etc/nginx/nginx.conf
          marker: "        # {mark} ANSIBLE MANAGED BLOCK jsonlog"
          insertbefore: "access_log.*/var/log/nginx/access.log.*;"
          content: |2
                    log_format  jsonlog '{'
                        '"http_host": "$http_host",'
                        '"server_addr": "$server_addr",'
                        '"remote_addr":"$remote_addr",'
                        '"time_local":"$time_local",'
                        '"request_method":"$request_method",'
                        '"request":"$request",'
                        '"uri":"$uri",'
                        '"request_uri":"$request_uri",'
                        '"status":$status,'
                        '"body_bytes_sent":"$body_bytes_sent",'
                        '"bytes_sent":$bytes_sent,'
                        '"http_referer":"$http_referer",'
                        '"http_user_agent":"$http_user_agent",'
                        '"upstream_addr":"$upstream_addr",'
                        '"upstream_status":"$upstream_status",'
                        '"upstream_cache_status":"$upstream_cache_status",'
                        '"http_x_forwarded_for ":"$http_x_forwarded_for",'
                        '"swift_x_api_ver ":"$http_x_api_ver",'
                        '"swift_x_hos_id ":"$http_x_hos_id",'
                        '"upstream_response_time":"$upstream_response_time",'
                        '"request_time":"$request_time"'
                    '}';
        when: nginx_conf_jsonlog_status['stdout']|int == 0
      - name: 调整所有配置文件中的access_log输出格式为json
        become: yes
        become_method: sudo
        shell: sed -i '/access_log/ s/main/jsonlog/g' /etc/nginx/conf.d/*.conf; sed -i '/access_log/ s/main/jsonlog/g' /etc/nginx/nginx.conf warn=false
        ignore_errors: true
      - name: 检查配置文件是否异常
        become: yes
        become_method: sudo
        shell: nginx -t
        register: nginx_conf_update_check_status
        ignore_errors: true
      - name: 配置文件没问题, 热加载nginx配置
        become: yes
        become_method: sudo
        shell: nginx -s reload
        when: nginx_conf_update_check_status.rc|int == 0
        # 配置文件有问题, 进行回退
      - block:
        - name: 回退修改内容
          become: yes
          become_method: sudo
          shell: sed -i '/access_log/ s/jsonlog/main/g' /etc/nginx/conf.d/*.conf; sed -i '/access_log/ s/jsonlog/main/g' /etc/nginx/nginx.conf warn=false
        - name: 删除配置的json格式输出日志
          become: yes
          become_method: sudo
          blockinfile:
            path: /etc/nginx/nginx.conf
            marker: "        # {mark} ANSIBLE MANAGED BLOCK jsonlog"
            insertbefore: "access_log.*/var/log/nginx/access.log.*;"
            content: ""
          # 当配置检查失败 且 新增json格式日志输出配置时 删除新增json格式日志配置
          when: nginx_conf_jsonlog_status['stdout']|int == 0
        - name: 再次检查配置文件,有问题,抛出,中断
          become: yes
          become_method: sudo
          shell: nginx -t
        when: nginx_conf_update_check_status.rc|int != 0
      # 在有nginx的基础上，判断是否有promtail，有则修改，无则跳过
      # 无 positions.yaml 持久化的，调整为持久化
      - name: 检查是否存在promtail
        shell: docker ps |grep "logging-promtail" -c|cat
        register: promtail_docker_status
      - block:
        # 两种，一种positions.yaml持久化，一种positions.yaml未持久化，全部调整为持久化
        - name: 检查是否存在positions.yaml文件
          stat:
            path: /opt/promtail/positions.yaml
          register: promtail_positions_conf_status
        - name: 检查配置文件中positions的filename是否是/mnt/config
          shell: grep filename.*/tmp/ /opt/promtail/promtail-config.yaml -c | cat
          register: promtail_positions_filename_status
        - name: 检查配置文件中target_config的 sync_period 是否存在
          shell: grep target_config /opt/promtail/promtail-config.yaml -A 1 | grep -c sync_period | cat
          register: promtail_target_config_status
        - name: 检查配置文件中是否已经添加收集nginx日志的jobname
          shell:  grep "job_name.*nginx_access_log" /opt/promtail/promtail-config.yaml -c | cat
          register: promtail_job_name_nginx_status
        # 修改配置文件
        - block:
          - name: 修改配置文件中的position的filename
            shell: sed -i '/\/tmp\/positions.yaml/ s#/tmp/#/mnt/config/#g' /opt/promtail/promtail-config.yaml warn=false
            ignore_errors: true
            register: promtail_position_filename_change_status
          - name: 修改配置文件中的position的filename(root权限)
            become: yes
            become_method: sudo
            shell: sed -i '/\/tmp\/positions.yaml/ s#/tmp/#/mnt/config/#g' /opt/promtail/promtail-config.yaml warn=false
            when: promtail_position_filename_change_status.rc|int != 0
          when: promtail_positions_conf_status.stat.isreg is undefined
        - block:
          - name: 添加配置 target_config 的 sync_period
            blockinfile:
              path: /opt/promtail/promtail-config.yaml
              marker: "# {mark} ANSIBLE MANAGED BLOCK target_config"
              insertbefore: "scrape_configs:"
              content: |
                target_config:
                  sync_period: "10s"
            ignore_errors: true
            register: promtail_target_config_change_status
          - name: 添加配置 target_config 的 sync_period (root 权限)
            become: yes
            become_method: sudo
            blockinfile:
              path: /opt/promtail/promtail-config.yaml
              marker: "# {mark} ANSIBLE MANAGED BLOCK target_config"
              insertbefore: "scrape_configs:"
              content: |
                target_config:
                  sync_period: "10s"
            when: promtail_target_config_change_status.failed == true
          when: promtail_target_config_status['stdout']|int == 0
        - block:
          - name: 添加配置收集nginx日志的job
            blockinfile:
              path: /opt/promtail/promtail-config.yaml
              marker: "  # {mark} ANSIBLE MANAGED BLOCK nginx_access_log"
              insertafter: "scrape_configs:"
              content: |2
                  - job_name: nginx_access_log
                    pipeline_stages:
                      - json:
                          expressions:
                            http_host: http_host
                      - labels:
                          http_host:
                      - match:
                          selector: '{job="nginx_access_log"}'
                          stages:
                          - regex:
                              source: filename
                              expression: '(?P<path>.*)/(?P<file_name>\\S+?)$'
                          - labels:
                              file_name:
                    static_configs:
                    - targets:
                        - localhost
                      labels:
                        job: nginx_access_log
                        host: ${HOSTNAME}
                        agent: promtail
                        __path__: /var/log/nginx/*access.log
            ignore_errors: true
            register: promtail_config_add_nginx_job_status
          - name: 添加配置收集nginx日志的job(root权限)
            become: yes
            become_method: sudo
            blockinfile:
              path: /opt/promtail/promtail-config.yaml
              marker: "  # {mark} ANSIBLE MANAGED BLOCK nginx_access_log"
              insertafter: "scrape_configs:"
              content: |2
                  - job_name: nginx_access_log
                    pipeline_stages:
                      - json:
                          expressions:
                            http_host: http_host
                      - labels:
                          http_host:
                      - match:
                          selector: '{job="nginx_access_log"}'
                          stages:
                          - regex:
                              source: filename
                              expression: '(?P<path>.*)/(?P<file_name>\\S+?)$'
                          - labels:
                              file_name:
                    static_configs:
                    - targets:
                        - localhost
                      labels:
                        job: nginx_access_log
                        host: ${HOSTNAME}
                        agent: promtail
                        __path__: /var/log/nginx/*access.log
            when: promtail_config_add_nginx_job_status.failed == true
          when: promtail_job_name_nginx_status['stdout']|int == 0
          # 配置文件被修改,才重启或者重建promtail容器
        - name: 检查是否挂载/var/log/nginx目录
          shell: docker inspect --format='{{ '{{' }}range .Mounts{{ '}}' }}{{ '{{' }}.Destination{{ '}}' }} {{ '{{' }}end{{ '}}' }}' logging-promtail | grep -c /var/log/nginx | cat
          register: promtail_docker_mount_status
        - block:
          - name: 删除promtail容器
            shell: docker rm -f logging-promtail
          - name: 初始化 positions.yaml 文件
            # shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml
            shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml
            ignore_errors: true
            register: positions_yaml_init_status
          # 可能文件权限异常无法写入
          - name: positions.yaml初始化失败,提权,重新初始化
            become: yes
            become_method: sudo
            # shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml
            shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml
            when: positions_yaml_init_status.rc|int != 0
          - name: 创建promtail容器
            shell: |
              docker run --name logging-promtail \
              -h $(hostname) \
              -itd \
              --cpus 1 -m 2G \
              --restart=unless-stopped \
              --log-opt max-size=512m \
              --log-opt max-file=3 \
              -v /etc/hosts:/etc/hosts \
              -v /etc/localtime:/etc/localtime \
              -v /opt:/opt \
              -v /var/log/nginx:/var/log/nginx \
              -v /opt/promtail:/mnt/config \
              swr.cn-east-2.myhuaweicloud.com/common-server/promtail:2.6.1 -config.file=/mnt/config/promtail-config.yaml -config.expand-env=true
          when: promtail_docker_mount_status['stdout']|int == 0
        # 已挂载nginx目录，配置文件修改，重启服务
        - block:
          - name: 初始化 positions.yaml 文件
            # shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml
            shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml
            ignore_errors: true
            register: positions_yaml_init_status
          # 可能文件权限异常无法写入
          - name: positions.yaml初始化失败,提权,重新初始化
            become: yes
            become_method: sudo
            # shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":\ " "\""$5"\""}' >> /opt/promtail/positions.yaml
            shell: echo "positions:" > /opt/promtail/positions.yaml && ls -al /opt/*/logs/*.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml && ls -al /var/log/nginx/*access.log|awk '{print  "  " $NF ":" " " "\""$5"\""}' >> /opt/promtail/positions.yaml
            when: positions_yaml_init_status.rc|int != 0
          - name: 重启promtail服务
            shell: docker restart logging-promtail
          when:
            - promtail_docker_mount_status['stdout']|int > 0
            - (promtail_job_name_nginx_status['stdout']|int == 0 or promtail_positions_conf_status.stat.isreg is undefined or promtail_target_config_status['stdout']|int == 0)
        when: promtail_docker_status['stdout']|int > 0
      - name: 输出更新主机记录,有promtail
        local_action: shell echo "{{ inventory_hostname }},nginx配置已更新,promtail配置已更新,promtail存在" >> "{{ log_file }}"
        when: promtail_docker_status['stdout']|int > 0
      - name: 输出更新主机记录,无promtail
        local_action: shell echo "{{ inventory_hostname }},nginx配置已更新,promtail配置未更新,promtail不存在" >> "{{ log_file }}"
        when: promtail_docker_status['stdout']|int == 0
      when:
        - nginx_process_status['stdout']|int > 0
        - nginx_conf_status.stat.isreg is defined
        - nginx_conf_check_status.rc|int == 0