# Date: 2021-11-19 12:13
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 测试端口连通的ansible-playbook
# Version: v2.0

# 用法：
# 使用的hosts需要填写两个主机组，区分内网，外网
# 例如（hosts_file）：
# # 外网主机组
# [dmz_port_hosts]
# XXXYY-APP-001
# 
# # 内网主机组
# [undmz_port_hosts]
# XXXYY-SYNC-001
# XXXYY-MQ-001

# 手动指定内外网主机IP，添加变量
# [all:vars]
# dmz_host_ip=["172.168.10.11","172.168.10.12","172.168.10.13"]
# undmz_host_ip=["192.168.10.11","192.168.10.12","192.168.10.13"]

# 手动指定测试的内外网端口,添加变量
# [all:vars]
# dmz_port=["80","5000","6443"]
# undmz_port=["8080","2020","5432","9090"]

# 执行命令：ansible-playbook -i hosts_file check_host_port.yml

# 默认启动端口
# 外网启动端口 default_dmz_port: ["80","5000","6443"]
# 内网启动端口 default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]


# 获取内外网主机IP
- name: Get host IP address
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    # 本地运行工作目录
    home_dir: /tmp/dmz_and_undmz_port_test
    # 外网端口启动情况输出文件
    dmz_startup_port_output_file: /tmp/dmz_startup_port.log
    # 内网端口启动情况输出文件
    undmz_startup_port_output_file: /tmp/undmz_startup_port.log
    # 外网访问内网端口结果输出
    dmz_to_undmz_port_output_file: /tmp/dmz_to_undmz_port.log
    # 内网访问外网端口结果输出
    undmz_to_dmz_port_output_file: /tmp/undmz_to_dmz_port.log
    # 外网启动端口
    default_dmz_port: ["80","5000","6443"]
    # 内网启动端口
    default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]
  tasks:
    - name: clean env
      shell: rm -rf "{{ home_dir }}"  && mkdir "{{ home_dir }}"
    - name: get dmz_port_hosts IP > /tmp/dmz_port_hosts_ip
      # shell: echo "{{ item }} $(grep "Host.*{{ item }}" /etc/ssh/ssh_config -A 1|grep HostName|awk '{print $2}')" >> "{{ home_dir }}"/dmz_port_hosts_ip
      shell: echo "{{ item }} $(ssh {{ item }} hostname -I|awk '{print $1}')" >> "{{ home_dir }}"/dmz_port_hosts_ip
      with_items:
        - "{{ groups['dmz_port_hosts'] }}"
    - name: get undmz_port_hosts IP > /tmp/undmz_port_hosts_ip
      shell: echo "{{ item }} $(grep "Host.*{{ item }}" /etc/ssh/ssh_config -A 1|grep HostName|awk '{print $2}')" >> "{{ home_dir }}"/undmz_port_hosts_ip
      # shell: echo "{{ item }} $(ssh {{ item }} hostname -I|awk '{print $1}')" >> "{{ home_dir }}"/undmz_port_hosts_ip
      with_items:
        - "{{ groups['undmz_port_hosts'] }}"

# 外网启动端口
- name: dmz startup port
  hosts: dmz_port_hosts
  gather_facts: False
  vars:
    home_dir: /tmp/dmz_and_undmz_port_test
    dmz_startup_port_output_file: /tmp/dmz_startup_port.log
    undmz_startup_port_output_file: /tmp/undmz_startup_port.log
    dmz_to_undmz_port_output_file: /tmp/dmz_to_undmz_port.log
    undmz_to_dmz_port_output_file: /tmp/undmz_to_dmz_port.log
    default_dmz_port: ["80","5000","6443"]
    default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]
  tasks:
    - name: delete "{{ dmz_startup_port_output_file }}"
      shell: rm -rf "{{ dmz_startup_port_output_file }}"
    - name: startup port
      shell: (nc -z $(hostname -I|awk '{print $1}') {{ item }} && echo "{{ item }} port Address already in use" >> "{{ dmz_startup_port_output_file }}") || ((nohup sudo python2.7 -m SimpleHTTPServer {{ item }} &> /dev/null &) && echo "{{ item }} port started successfully" >> "{{ dmz_startup_port_output_file }}")
      with_items:
        - "{{ dmz_port|default(default_dmz_port) }}"
    - name: Output port startup
      shell: cat "{{ dmz_startup_port_output_file }}"|sort -k2r -k1,1g
      register: dmz_startup_port
    - name: Save to local
      local_action: shell echo "{{ inventory_hostname }}" >> "{{ home_dir }}"/dmz_startup_port_output_file.log && echo "{{ dmz_startup_port['stdout'] }}" >> "{{ home_dir }}"/dmz_startup_port_output_file.log

# 内网启动端口
- name: undmz startup port
  hosts: undmz_port_hosts
  gather_facts: False
  vars:
    home_dir: /tmp/dmz_and_undmz_port_test
    dmz_startup_port_output_file: /tmp/dmz_startup_port.log
    undmz_startup_port_output_file: /tmp/undmz_startup_port.log
    dmz_to_undmz_port_output_file: /tmp/dmz_to_undmz_port.log
    undmz_to_dmz_port_output_file: /tmp/undmz_to_dmz_port.log
    default_dmz_port: ["80","5000","6443"]
    default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]
  tasks:
    - name: delete "{{ undmz_startup_port_output_file }}"
      shell: rm -rf "{{ undmz_startup_port_output_file }}"
    - name: startup port
      shell: (nc -z $(hostname -I|awk '{print $1}') {{ item }} && echo "{{ item }} port Address already in use" >> "{{ undmz_startup_port_output_file }}") || ((nohup sudo python2.7 -m SimpleHTTPServer {{ item }} &> /dev/null &) && echo "{{ item }} port started successfully" >> "{{ undmz_startup_port_output_file }}")
      with_items:
        - "{{ undmz_port|default(default_undmz_port) }}"
    - name: Output port startup
      shell: cat "{{ undmz_startup_port_output_file }}"|sort -k2r -k1,1g
      register: undmz_startup_port
    - name: Save to local
      local_action: shell echo "{{ inventory_hostname }}" >> "{{ home_dir }}"/undmz_startup_port_output_file.log && echo "{{ undmz_startup_port['stdout'] }}" >> "{{ home_dir }}"/undmz_startup_port_output_file.log

# 外网测试内网端口连通性
- name: dmz test undmz port
  hosts: dmz_port_hosts
  gather_facts: False
  vars:
    home_dir: /tmp/dmz_and_undmz_port_test
    dmz_startup_port_output_file: /tmp/dmz_startup_port.log
    undmz_startup_port_output_file: /tmp/undmz_startup_port.log
    dmz_to_undmz_port_output_file: /tmp/dmz_to_undmz_port.log
    undmz_to_dmz_port_output_file: /tmp/undmz_to_dmz_port.log
    default_dmz_port: ["80","5000","6443"]
    default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]
  tasks:
    - name: get undmz host ip
      local_action: shell cat "{{ home_dir }}"/undmz_port_hosts_ip |awk '{print $2}'
      register: register_undmz_host_ip
    - name: clean env
      shell: rm -f {{ dmz_to_undmz_port_output_file }}
    - name: test port connectivity
      shell: nc -z -w 1 "{{ item[0] }}" "{{ item[1] }}" && echo "{{ inventory_hostname }} 访问 {{ item[0] }} 的端口 {{ item[1] }} succeeded!" >> {{ dmz_to_undmz_port_output_file }} || echo "{{ inventory_hostname }} 访问 {{ item[0] }} 的端口 {{ item[1] }} failed!" >> {{ dmz_to_undmz_port_output_file }}
      with_nested:
        - "{{ undmz_host_ip|default(register_undmz_host_ip['stdout_lines']) }}"
        - "{{ undmz_port|default(default_undmz_port) }}"
    - name: get dmz access to undmz port info
      shell: cat {{ dmz_to_undmz_port_output_file }}|sort -k3,3 -k6,6r -k5,5g
      register: dmz_to_undmz_port
    - name: Save to local
      local_action: shell echo "{{ inventory_hostname }}" >> "{{ home_dir }}"/dmz_to_undmz_port_output_file.log && echo "{{ dmz_to_undmz_port['stdout'] }}" >> "{{ home_dir }}"/dmz_to_undmz_port_output_file.log

# 内网测试外网连通性
- name: undmz test dmz port
  hosts: undmz_port_hosts
  gather_facts: False
  vars:
    home_dir: /tmp/dmz_and_undmz_port_test
    dmz_startup_port_output_file: /tmp/dmz_startup_port.log
    undmz_startup_port_output_file: /tmp/undmz_startup_port.log
    dmz_to_undmz_port_output_file: /tmp/dmz_to_undmz_port.log
    undmz_to_dmz_port_output_file: /tmp/undmz_to_dmz_port.log
    default_dmz_port: ["80","5000","6443"]
    default_undmz_port: ["22","2020","5432","6379","8080","8848","9090","9200","9300","9876","10250","10256","10909","10911","12580","12581","12582","12583","12584","12585","27017"]
  tasks:
    - name: get dmz host ip
      local_action: shell cat "{{ home_dir }}"/dmz_port_hosts_ip |awk '{print $2}'
      register: register_dmz_host_ip
    - name: clean env
      shell: rm -f {{ undmz_to_dmz_port_output_file }}
    - name: test port connectivity
      shell: nc -z -w 1 "{{ item[0] }}" "{{ item[1] }}" && echo "{{ inventory_hostname }} 访问 {{ item[0] }} 的端口 {{ item[1] }} succeeded!" >> {{ undmz_to_dmz_port_output_file }} || echo "{{ inventory_hostname }} 访问 {{ item[0] }} 的端口 {{ item[1] }} failed!" >> {{ undmz_to_dmz_port_output_file }}
      with_nested:
        - "{{ dmz_host_ip|default(register_dmz_host_ip['stdout_lines']) }}"
        - "{{ dmz_port|default(default_dmz_port) }}"
    - name: get undmz access to dmz port info
      shell: cat {{ undmz_to_dmz_port_output_file }}|sort -k3,3 -k6,6r -k5,5g
      register: undmz_to_dmz_port
    - name: Save to local
      local_action: shell echo "{{ inventory_hostname }}" >> "{{ home_dir }}"/undmz_to_dmz_port_output_file.log && echo "{{ undmz_to_dmz_port['stdout'] }}" >> "{{ home_dir }}"/undmz_to_dmz_port_output_file.log

# 关闭外网启动端口
- name: close dmz port
  hosts: dmz_port_hosts
  gather_facts: False
  tasks:
    - name: close dmz port
      shell: (sudo kill -9 $(ps -ef |grep "python2.7 -m SimpleHTTPServer"|grep -v grep|awk '{print $2}') 1> /dev/null 2>&1 || echo "无通过脚本启动的测试端口") && echo "测试端口已关闭"

# 关闭内网启动端口
- name: close undmz port
  hosts: undmz_port_hosts
  gather_facts: False
  tasks:
    - name: close undmz port
      shell: (sudo kill -9 $(ps -ef |grep "python2.7 -m SimpleHTTPServer"|grep -v grep|awk '{print $2}') 1> /dev/null 2>&1 || echo "无通过脚本启动的测试端口") && echo "测试端口已关闭"

# 输出内外网端口启动情况及内外网端口检测结果
- name: output all
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    home_dir: /tmp/dmz_and_undmz_port_test
  tasks:
    - name: 获取外网端口启动情况输出
      shell: cat "{{ home_dir }}"/dmz_startup_port_output_file.log
      register: dmz_startup_port
    - name: 获取内网端口启动情况输出
      shell: cat "{{ home_dir }}"/undmz_startup_port_output_file.log
      register: undmz_startup_port
    - name: 获取外网访问内网端口检测结果输出
      shell: cat "{{ home_dir }}"/dmz_to_undmz_port_output_file.log
      register: dmz_to_undmz_port
    - name: 获取内网访问外网端口检测结果输出
      shell: cat "{{ home_dir }}"/undmz_to_dmz_port_output_file.log
      register: undmz_to_dmz_port
    - name: 外网端口启动情况
      debug:
        var: dmz_startup_port['stdout_lines']
    - name: 内网端口启动情况
      debug:
        var: undmz_startup_port['stdout_lines']
    - name: 外网访问内网端口检测结果
      debug:
        var: dmz_to_undmz_port['stdout_lines']
    - name: 内网访问外网端口检测结果
      debug:
        var: undmz_to_dmz_port['stdout_lines']
