# Date: 2023-09-05 15:45
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 安装glusterFS,ubuntu 16.04,xenial 版本
# Version: v1.0

- name: install glusterFS
  hosts: glusterfs_hosts
  remote_user: swift
  # 需要获取主机信息，就不 False 了
  # gather_facts: False
  tasks:
    - block:
      - name: 判断是否安装
        shell: dpkg -l|grep glusterfs -c |cat
        register: glusterfs_count
      - block:
        - name: Copy deb package to host
          copy:
            src: /home/swift/packages/ubuntu_xenial_glusterfs_7.9.tar
            dest: /tmp/ubuntu_xenial_glusterfs_7.9.tar
        - name: 解压
          shell: cd /tmp && tar -xvf ubuntu_xenial_glusterfs_7.9.tar
        - name: 验证依赖关系
          shell: cd /tmp/ubuntu_xenial_glusterfs_7.9 && sudo apt install --dry-run ./*.deb
          register: glusterfs_depend_status
          ignore_errors: true
        # - name: debug
        #   debug:
        #     var: glusterfs_depend_status.rc
        - name: 安装
          shell: echo install ok
          # shell: cd /tmp/ubuntu_xenial_glusterfs_7.9 && sudo apt install ./*.deb -y
          when: glusterfs_depend_status.rc == 0
        - name: 不满足依赖关系,报错
          fail:
            msg: "{{glusterfs_depend_status.stdout_lines}}"
          when: glusterfs_depend_status.rc != 0
        when:
          - glusterfs_count.stdout|int == 0
      when: 
        - ansible_facts.distribution == "Ubuntu"
        - ansible_facts.distribution_release == "xenial"
