# Date: 2024-11-14 17:44
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 通过ansible-playbook 运行脚本，获取返回结果
# Version: v1.0

# 多线程批量运行 -f 100
- name: init env
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    log_file: /tmp/run_shell
    log_file_suffix: .csv
    log_file_path: "{{log_file}}_{{env_name}}{{log_file_suffix}}"
  tasks:
    - name: Judge whether the variable is defined
      fail:
        msg: "ansible-playbok run_shell.yml -e env_name='xxxxxxxx-prod'"
      when: env_name is not defined
    # 初始化日志文件
    - name: 初始化日志文件
      shell: if [ -f {{log_file_path}} ];then mv {{log_file_path}} {{log_file_path}}_$(date +"%Y_%m_%d_%H_%M_%S");fi
    # 获取主机
    - name: get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep "{{ env_name.split('-')[0].upper() }}-" | grep -v -E -i "^#|DEV|TEST" | awk '{print $NF}' | sort
      register: grep_hosts
    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: run_shell_hosts
      with_items: "{{grep_hosts.stdout_lines}}"


- name: 执行脚本
  hosts: run_shell_hosts
  remote_user: swift
  gather_facts: False
  vars:
    log_file: /tmp/run_shell
    log_file_suffix: .csv
    log_file_path: "{{log_file}}_{{env_name}}{{log_file_suffix}}"
  tasks:
  # 判断 nginx进程存在，/var/log/nginx目录存在，执行脚本
  # 先创建脚本，后按照指定参数执行，执行结束删除
    - name: 初始化文件/tmp/test.sh
      blockinfile:
        path: /tmp/test.sh
        block: |
          #!/bin/bash
          if [[ -z $1 ]]; then
              echo "提供查询接口"
              echo "Example: $0 patient/v1/report/check/detail"
              exit 1
          fi
          check_uri=$1

          #不需要在内部分类
          checkTYPE="http_host"
          #检查
          # checkTYPE=UC
          #检验
          # checkTYPE=UL

          if [[ -n $2 ]]; then
              checkTYPE=$2
          fi


          result=0  # 初始化统计结果
          all_result=0
          # 遍历从 0 到 1 的日志文件
          sudo cat /var/log/nginx/gateway*_*access.log | \
                  grep "${check_uri}"|grep ${checkTYPE}|head -n 1

          count0=$(sudo cat /var/log/nginx/gateway*_*access.log | \
                  grep ${check_uri} | grep ${checkTYPE} | \
                  awk -F 'swift_x_actual_user_id' '{print $2}' | \
                  awk -F '"' '{print $3}' | \
                  sort | uniq | wc -l)

          call_count0=$(sudo cat /var/log/nginx/gateway*_*access.log | \
                  grep ${check_uri} |grep ${checkTYPE} | wc -l)
          # 遍历从 1 到 14 的日志文件
          echo '今天调用人数 '$count0
          echo '今天调用次数 '$call_count0

          count1=$(sudo cat /var/log/nginx/gateway*_*access.log.1 | \
                  grep ${check_uri} | grep ${checkTYPE} |  \
                  awk -F 'swift_x_actual_user_id' '{print $2}' | \
                  awk -F '"' '{print $3}' | \
                  sort | uniq | wc -l)

          call_count1=$(sudo cat /var/log/nginx/gateway*_*access.log.1 | \
                  grep ${check_uri} | grep ${checkTYPE} | wc -l)

          result=$((count0 + count1))
          all_result=$((call_count0 + call_count1))

          for i in {2..14}; do
              # 使用 ls 查找匹配的文件
              files=$(ls /var/log/nginx/gateway*_*access.log.$i.* 2>/dev/null)

              # 检查是否找到匹配的文件
              if [ -n "$files" ]; then
                  # 对匹配的文件进行处理
                  for file in $files; do
                      # 使用 zcat 解压和处理日志内容
                      count=$(sudo zcat "$file" | \
                              grep ${check_uri} | grep ${checkTYPE} | \
                              awk -F 'swift_x_actual_user_id' '{print $2}' | \
                              awk -F '"' '{print $3}' | \
                              sort | uniq | wc -l)
                      # 累加统计结果
                      result=$((result + count))
                  done
              fi
          done

          for i in {2..14}; do
              # 使用 ls 查找匹配的文件
              files=$(ls /var/log/nginx/gateway*_*access.log.$i.* 2>/dev/null)

              # 检查是否找到匹配的文件
              if [ -n "$files" ]; then
                  # 对匹配的文件进行处理
                  for file in $files; do
                      # 使用 zcat 解压和处理日志内容
                      count=$(sudo zcat "$file" | \
                              grep ${check_uri} | grep ${checkTYPE} |wc -l)
                      # 累加统计结果
                      all_result=$((all_result + count))
                  done
              fi
          done

          echo $check_uri 接口总调用人数 $result
          echo $check_uri 总调用次数 $all_result
    - name: execute script
      # args:
      #   executable: /bin/bash
      shell: sudo bash /tmp/test.sh {{check_uri}} {{}}


    - block:
        - name: 输出结果
          local_action: shell echo "{{ inventory_hostname }},无redis,无密码,未修改密码" >> "{{ log_file_path }}"
      when: redis_status['stdout']|int == 0
      # - name: 输出http地址到本地
      #   connection: local
      #   shell: echo "{{ inventory_hostname }},{{ item }}" >> "{{ log_file }}"
      #   with_items:
      #     - "{{ http_address.stdout_lines }}"