# Date: 2023-08-01 14:57
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: set修改redis密码 & restart server & restart redis
# Version: v1.0

# 多线程批量运行 -f 100
- name: init env
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    default_old_redis_password: "123456"
    default_redis_password: "redispassword"
    log_file: /tmp/update_redis_password_list
    log_file_suffix: .csv
    log_file_path: "{{log_file}}_{{env_name}}{{log_file_suffix}}"
  tasks:
    - name: Judge whether the variable is defined
      fail:
        msg: "ansible-playbook update_redis_requirepass.yml -e env_name='xxxxxxxx-prod' [ -e redis_password='redispassword' ] [ -e old_redis_password='123456' ]"
      when: env_name is not defined
    - name: Check if variable is defined
      fail:
        msg:
          - The variable 'desired_operation' is not defined.
          - Please define the variable using the '-e' option when running the playbook.
          - Example
          - 执行 修改nacos及redis配置文件,set redis password,重启所有服务,重启redis容器 操作
          - ansible-playbook update_redis_requirepass.yml -e desired_operation='all'
          - 仅 修改 nacos及redis配置文件
          - ansible-playbook update_redis_requirepass.yml -e desired_operation='only_update_config'
          - 仅 set redis password
          - ansible-playbook update_redis_requirepass.yml -e desired_operation='only_set_redis_password'
          - 仅 重启所有服务
          - ansible-playbook update_redis_requirepass.yml -e desired_operation='only_restart_server'
          - 仅 重启redis机器
          - ansible-playbook update_redis_requirepass.yml -e desired_operation='only_restart_redis'
      when: desired_operation is not defined
    # 初始化日志文件
    - name: 初始化日志文件
      shell: if [ -f {{log_file_path}} ];then mv {{log_file_path}} {{log_file_path}}_$(date +"%Y_%m_%d_%H_%M_%S");fi
    # 获取主机
    - name: get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep "{{ env_name.split('-')[0].upper() }}-" | grep -v -E -i "^#|DEV|TEST" | awk '{print $NF}' | sort
      register: grep_hosts
    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: update_redis_password_hosts
      with_items: "{{grep_hosts.stdout_lines}}"
    # - name: 更新nacos配置
      # local_action: shell tools -t nacos -f update -K redis.password -V {{ redis_password|default(default_redis_password) }} -e {{ env_name }}
    - name: echo desired_operation
      shell: echo {{desired_operation}}
      when: (desired_operation == "only_update_config") or (desired_operation == "all")

- name: get redis host
  hosts: update_redis_password_hosts
  remote_user: swift
  gather_facts: False
  tasks:
    - block:
      - name: 判断是否存在redis容器
        shell: docker ps -a |grep redis| grep -v -E "test|exporter|k8s|sentry" |wc -l
        register: redis_status
      - name: add host to new group
        group_by:
          key: redis_hosts
        when:
          - redis_status['stdout']|int > 0
      when: (desired_operation == "only_update_config") or (desired_operation == "only_set_redis_password") or (desired_operation == "only_restart_redis") or (desired_operation == "all")


# 修改redis配置文件中的密码
- name: update redis config password
  hosts: redis_hosts
  remote_user: swift
  gather_facts: False
  vars:
    default_redis_password: "redispassword"
    log_file: /tmp/update_redis_password_list
    log_file_suffix: .csv
    log_file_path: "{{log_file}}_{{env_name}}{{log_file_suffix}}"
  tasks:
    - block:
        - name: echo desired_operation
          shell: echo {{desired_operation}}
      when: (desired_operation == "only_update_config") or (desired_operation == "all")

# set redis密码
- name: set redis requirepass
  hosts: redis_hosts
  remote_user: swift
  gather_facts: False
  vars:
    default_old_redis_password: "123456"
    default_redis_password: "redispassword"
    log_file: /tmp/update_redis_password_list
    log_file_suffix: .csv
    log_file_path: "{{log_file}}_{{env_name}}{{log_file_suffix}}"
  tasks:
    - block:
        - name: echo desired_operation
          shell: echo {{desired_operation}}
        - name: 使用set修改redis中的密码
          shell: cat /tmp/test.txt
          register: redis_requirepass_set_status
        # 修改失败，中断任务，禁止继续往下
        - name: 修改redis密码任务失败,禁止继续执行
          fail:
            msg:
              - 修改redis密码失败,请使用以下命令单独修改
              - ansible-playbook update_redis_requirepass.yml -e env_name='xxxxxxxx-prod' -e desired_operation='only_set_redis_password' [ -e redis_password='redispassword' ] [ -e old_redis_password='123456' ]
          when: redis_requirepass_set_status.stdout != "OK"
      when: (desired_operation == "only_set_redis_password") or (desired_operation == "all")

# 重启所有服务
- name: restart server
  hosts: localhost
  connection: local
  gather_facts: False
  tasks:
    - block:
        - name: echo desired_operation
          shell: echo {{desired_operation}}
        - name: 批量重启后端服务,间隔90s
          shell: tools -t job -e {{ env_name }} |grep {{ env_name.split('-')[0] }}|sed "s/[\']/\n/g"|sed '/[,\|]/d' | grep -v front |sort |xargs -I {} sh -c "echo tools -t restart -e {{ env_name }} -j {} && echo sleep 3s && sleep 3s"
      when: (desired_operation == "only_restart_server") or (desired_operation == "all")

# 重启redis
- name: set redis server
  hosts: redis_hosts
  remote_user: swift
  gather_facts: False
  tasks:
    - block:
        - name: echo desired_operation
          shell: echo {{desired_operation}}
      when: (desired_operation == "only_restart_redis") or (desired_operation == "all")
