apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nacos-cluster
spec:
  serviceName: nacos-cluster
  selector:
    matchLabels:
      app: nacos-cluster
  replicas: 3
  template:
    metadata:
      labels:
        app: nacos-cluster
    spec:
      # nodeSelector:
      #   kubernetes.io/hostname: ${node}
      priorityClassName: high-priority-4
      containers:
        - name: mongo
          image: swr.cn-east-2.myhuaweicloud.com/common-server/nacos-server:1.4.6-pg
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8848
              name: server
          env:
            - name: MODE
              value: "cluster"
            - name: PREFER_HOST_MODE
              value: "hostname"
            - name: NACOS_SERVERS
              value: "nacos-cluster-0.nacos-cluster.${JobEnv}.svc.cluster.local:8848 nacos-cluster-1.nacos-cluster.${JobEnv}.svc.cluster.local:8848 nacos-cluster-2.nacos-cluster.${JobEnv}.svc.cluster.local:8848"
            - name: NACOS_AUTH_TOKEN
              value: "SecretKey012345678901234567890123456789012345678901234567890123456789"
            - name: PG_SERVICE_HOST
              value: "192.168.1.100"
            - name: PG_SERVICE_PORT
              value: "5432"
            - name: PG_SERVICE_USER
              value: "nacos"
            - name: PG_SERVICE_PASSWORD
              value: "q1w2e3r4"
          volumeMounts:
            - name: localtime
              mountPath: /etc/localtime
            - name: nacos-cluster-config
              mountPath: /home/nacos/conf/application.properties
              subPath: application.properties
            - name: logs
              mountPath: /home/nacos/logs
          resources:
            requests:
              cpu: "0.05"
              memory: "0.1G"
            limits:
              cpu: "1"
              memory: "2G"
          livenessProbe:
            tcpSocket:
              port: 8848
            initialDelaySeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 60
          readinessProbe:
            tcpSocket:
              port: 8848
            initialDelaySeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
            periodSeconds: 60
      imagePullSecrets:
        - name: regcred
      volumes:
        - name: localtime
          hostPath:
            path: /etc/localtime
        - configMap:
            defaultMode: 420
            name: nacos-cluster-config
          name: nacos-cluster-config
        - name: logs
          hostPath:
            path: /opt/project/project-middleware/${JobEnv}/nacos-cluster-logs
