# Date: 2024-11-06 17:13
# Author: lglaboy
# GitHub: https://github.com/lglaboy
# Description: 更新autoheal_exporter服务，v2 -> v3
# Version: v1.0

- name: init env
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    log_file: /tmp/autoheal_update_info.csv
  tasks:
    # 初始化日志文件
    - name: 初始化日志文件
      shell: if [ -f {{ log_file }} ];then mv {{ log_file }} {{ log_file }}_$(date +"%Y_%m_%d_%H_%M_%S");fi
    # 获取主机
    - name: get hosts
      shell: grep -E "Host\s+" /etc/ssh/ssh_config | grep -E -v -i "^#|\*|JENKINS|gitlab|kubevirt|LOCALTEST|LOCAL-DEMO|LOCALDEMO|KR|K3S|K8S|ALIYUN|-DEV-|-TEST|sw|sky" | awk '{print $NF}' | sort
      register: grep_hosts
    # 添加主机到临时主机组
    - add_host:
        name: "{{ item }}"
        group: autoheal_exporter_hosts
      with_items: "{{grep_hosts.stdout_lines}}"

# 更新autoheal_exporter
- name: update autoheal_exporter
  hosts: autoheal_exporter_hosts
  gather_facts: False
  vars:
    old_docker_image: swr.cn-east-2.myhuaweicloud.com/common-server/autoheal_exporter:v2
    new_docker_image: swr.cn-east-2.myhuaweicloud.com/common-server/autoheal_exporter:v3
    download_image_name: autoheal_exporter.tgz
    log_file: /tmp/autoheal_update_info.csv
  tasks:
    - name: 检查本地文件
      connection: local
      stat:
        path: /tmp/{{download_image_name}}
      register: image_file_status

    - block:
      - name: 本地下载镜像
        local_action: shell docker pull {{new_docker_image}}
      - name: 本地打包镜像
        local_action: shell docker save {{new_docker_image}} | gzip > /tmp/{{download_image_name}}
      when:
      - image_file_status.stat.isreg is undefined

    - name: Check to see if autoheal_exporter is installed
      shell: timeout 10 docker ps -a | grep -c autoheal_exporter | cat
      register: autoheal_register

    - block:
      - name: Check autoheal_exporter image
        shell: docker images |awk '{print $1":"$2}' | grep -c {{new_docker_image}} | cat
        register: autoheal_image_register
      # 当并发进程数过多的时候，传包，可能会导致网络阻塞
      - block:
        # 可能存在失败，多次执行，提高容错
        - name: copy {{new_docker_image}} image to remote_host
          local_action: shell scp -o IPQoS=throughput /tmp/{{download_image_name}} {{ inventory_hostname }}:/tmp
          retries: 2
          delay: 3
          register: result
          until: result.rc == 0
        - name: import docker image
          shell: docker load < /tmp/{{download_image_name}}
        when:
          - autoheal_image_register['stdout']|int == 0

      - name: delete autoheal_exporter
        shell: docker rm -f autoheal_exporter
      # - name: delete old autoheal_exporter image
      #   shell: docker rmi {{old_docker_image}}

      # 获取docker api version
      # docker version -f '{{.Server.APIVersion}}'
      - name: get docker api version
        shell: docker version -f {{ '{{' }}.Server.APIVersion{{ '}}' }}
        register: docker_api_version

      - name: create autoheal_exporter
        shell: |
          docker run -d --name autoheal_exporter \
          --cpus 1 -m 2G \
          --restart=unless-stopped \
          --log-opt max-size=512m \
          --log-opt max-file=3 \
          -v /etc/hosts:/etc/hosts \
          -v /etc/localtime:/etc/localtime \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -e DOCKER_API_VERSION={{docker_api_version['stdout']}} \
          {{new_docker_image}}
      - name: 输出结果
        connection: local
        shell: echo "{{ inventory_hostname }},autoheal_exporter 已更新" >> "{{ log_file }}"
      when:
        - autoheal_register['stdout']|int == 1

    - name: 输出结果
      connection: local
      shell: echo "{{ inventory_hostname }},autoheal_exporter 不存在" >> "{{ log_file }}"
      when:
        - autoheal_register['stdout']|int == 0